@media (max-width: 426px) {
    
 
    
    .three{
        
        width:300px;
        padding: 2px;
        margin-top: 10px;
    }
   

    .lsss{
        font-size: 8px;
        margin: 0px;
        padding: 0px;
    }
    
    .ree{
    
       font-size: 8px;
    }
    



   }